@media (max-width: 600px) {

    .pagina-cadastro {
        font-size: 1.1rem;
        flex-direction: column;
        gap: 20px;
    }

    .container-form {
        font-size: 1.1rem;
    }

    .logo{
        display:flex;
        justify-content:center;
        align-content:center;
        width: 70%;
        height: auto;
        text-align: center;
    }

    form {
    display: flex;
    flex-direction: column;
    padding: 40px;
        }

    form input {
    width: 90%;
        }
}

body{
    background:#121212;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.pagina-cadastro{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.logo{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin-bottom:40px;
}

.logo img{
    width:280px;
    height:auto;
}

h2{
    color:#00c853;
    font-size:1.8em;
    text-align:center;
    margin-bottom:25px;
}

label{
    display:block;
    color:white;
    width: 300px;
    margin-bottom:5px;
    margin-top:15px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

input{

    width:90%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
}

button{

    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#00c853;
    color:white;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;

}

.botao-voltar{

    display:block;
    width:90%;
    text-align:center;
    text-decoration:none;
    margin-top:15px;
    padding:15px;
    border-radius:10px;
    background:#2d2d2d;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.botao-voltar:hover{

    background:#3d3d3d;
}

button:hover{

    background:#00e676;
    color: black;
}