*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#00c853;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

header{
    text-align:center;
    margin-bottom:50px;
}

.logo img{
    width:100%;
    max-width:450px;
    height:auto;
    transition:0.3s;
}

.logo img:hover{
    transform:scale(1.03);
}

.slogan{
    font-size:1.4rem;
    margin-bottom:15px;
}

.descricao{
    max-width:700px;
    margin:auto;
    color:black;
}


.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.card{
    background-color:#1e1e1e;
    width:320px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.4);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#00e676;
    margin-bottom:15px;
}

.card ul{
    list-style:none;
}

.card li{
    margin-bottom:10px;
}

.acoes{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-top:20px;
}

.botao{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#2d2d2d;
    color:#00e676;
    min-width:180px;
    height:55px;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

.botao-secundario{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#2d2d2d;
    color:#00e676;
    min-width:180px;
    height:55px;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

.botao:hover{
    background-color:#2d2d2d;
    color:white;
}

.botao-secundario:hover{
    background-color:#2d2d2d;
    color:white;
}